<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <robotsTxtSection>
      <robotsTxtProvider type="Sitecore.CustomRobot.Provider.RobotsTxtProvider, Sitecore.CustomRobot" />
    </robotsTxtSection>
    
    <customHandlers>
      <handler trigger="robots.txt" handler="RobotsTxtHandler.ashx" />
    </customHandlers>

  </sitecore>
</configuration>